<%- include("partials/header.ejs") %>
<main>
  <div class="edit">
    <div class="edit-child">
      <h2>Edit here...</h2>
      <form action="/edit/<%= postId %>" method="post">
        <input
          type="text"
          placeholder="Title"
          name="Title"
          class="editInp"
          value="<%= Title %>"
          required
        /><br />
        <input
          type="text"
          placeholder="Your Name"
          name="Author"
          class="editInp"
          value="<%= Author %>"
        />
        <textarea
          placeholder="content"
          name="Content"
          cols="40"
          rows="5"
          class="editInp"
          required
        >
<%= Content %></textarea
        ><br />
        <button
          type="submit"
          class="btn btn-success"
          onclick="return confirm('Please confirm')"
        >
          Publish
        </button>
        <a
          class="btn btn-danger"
          onclick="return confirm('Are you sure you want to delete this item?')"
          href="/delete/<%=postId%>"
          >Delete</a
        >
      </form>
    </div>
  </div>
</main>
<%- include("partials/footer.ejs") %>
